Thumbs.db
[Dd]ebug*/
[Rr]elease*/
*.o
*.lib
*.a
*.so
*.so.*
*.dylib
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
